# Functions, types, loops assignment

## Exercise 1

Add a line of code that will generate the give output::

     In [ ]: a_list = [2,7,8, 19]
             a_list[0]
     Out [ ]: 2
     
NOTE: The idea of this kind of exercise is to write a line of code
that will produce the given output, 2 in this case.  Your
answer goes in the next cell, which is a code cell.  It should this be an
expression that operates on `a_list`.  A simple correct answer is:

     In [ ]: a_list = [2,7,8, 19]
             a_list[0]
     Out [ ]: 2
     
Don't forget to evaluate the cell after you've written in your answer to generate Python's output and check your answer!

In [2]:
a_list = [2,7,8, 19]
a_list[0]

2

## Exercise 2

  Write a line of code that produces the given output.  Use a splice with a "steps" component.
   
    In [ ]: X = 'abcdefghij'
             YOUR CODE HERE
    Out [ ]: 'acegi'

In [43]:
X = 'abcdefghij'
L = [0, 2, 4, 6, 8]

for y in L:
   print(X[y],end="")

acegi

## Exercise 3

 Write a line of code that produces the given output:
   
     In [ ]: S, T = set('abc'), set('cde')
           YOUR CODE HERE
     Out [ ]: {'c'}

Hint.  Each Python type has its own methods.  For instance, strings have a `.title()` method that capitalizes them.  For this problem use a method that is particular to **sets** on the two sets `S` and `T`.  See the [Set Operations Notebook](https://colab.research.google.com/github/gawron/python-for-social-science/blob/master/intro/set_operations.ipynb) for a discussion of set methods. Also see [Van DerPlas's Whirlwind Tour, Ch. 6.](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/06-Built-in-Data-Structures.ipynb)

In [46]:
S, T = set('abc'), set('cde')

In [51]:
U = S & T
print(U)

{'c'}

In [52]:
T

{'c', 'd', 'e'}

## Exercise 4

 Write a line of code that produces the given output:
   
     In [ ]: a_list = [2,7,8, 19]
           YOUR CODE HERE
     Out [ ]: [22,27,28,39]
    
Hint: Try a list comprehension. Look at [Whirlwind Tour](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/11-List-Comprehensions.ipynb) for a quick review of list comprehensions.

In [62]:
a_list = [2,7,8, 19]
## Your code below this line
[x+20 for x in a_list]

[22, 27, 28, 39]

## Exercise 5

Write a line of code that produces the given output.

Hint Remember that list comprehensions can also be used as filters. Look at [Whirlwind Tour](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/11-List-Comprehensions.ipynb) for a quick review of list comprehensions.

```
In [ ]: a_list = [2,7,8, 19]
In [ ]: # Your code           
Out [ ]: [22,27]
 ```

In [83]:
# YOUR CODE GOES UNDER HERE
a_list = [2,7,8, 19]
a_list = [2,7,8, 19]
## Your code below this line
[x+20 for x in a_list if x < 8]

[22, 27]

## Exercise 6

Write a function that finds all the consonants in a string.  As a help, the list of vowels is given below. You can assume that any character in a word that is not a vowel is a consonant.  The beginning
of the function definition has been given with a `pass` as the body.  

It should work as in the following examples.

```
>>> find_consonants('baker')
'bkr'
>>> find_consonants('abracadabra')
'brcdbr'
>>> find_consonants('mississippi is the place for me')
'mssssppsthplcfrm'
```

Be aware that you will have to edit the argument/parameter list of the function
as well as the body (the part in parens after the name).
Replace the `pass` with the correct definition of the function.

For those interested in more of a challenge, you may add 'sometimes y' to the list of vowels. The letter `'y'` is a vowel in "Mary" and "Plymouth" and "play", but not in "youth".

In [211]:
vowels = 'aeiou'

In [155]:
#  STEP BY STEP SOLUTION
# Write a list comprehension that removes the non vowels in a string S
vowels = 'aeiou'
X = 'baker'
   # Your list comprehension goes in the square brackets
L = [c for c in X if c not in vowels]
L

['a', 'e']

In [156]:
# Turn L into a string using the .join()  method on strings
''.join(L)

'ae'

In [182]:
#  Wrap this code in a function definition. making sure
#  to choose a parameter name consistent with
#  the name in your code and making sure to include a return statement

vowels = 'aeiou'

def find_consonants(X):  # Paramater name in parens
    vowels = 'aeiou'

       # Your list comprehension goes in the square brackets
    L = [c for c in X if c not in vowels]   # Your list comprehension goes in the square brackets
    L = ''.join(L)
    #  Put the list comprehension you wrote above here.
    return L  #  Need to put something here.  Look at the directions which show what the function SHOULD return

In [183]:
## test  ALL the examples in the directions.  They each have a purpose.
find_consonants('baker')

'bkr'

In [184]:
find_consonants('abracadabra')

'brcdbr'

In [186]:
find_consonants('mississippi is the place for me')

'msssspp s th plc fr m'

Last example doesn't work as advertised.  Diagnosis: we should
remove spaces along with consonants.  Keep the good ideas
we've used so far.  Redefine what we omit. New version.

In [187]:
omit = vowels + ' '
def find_consonants(X):
    L = [let for let in X if let not in omit]
    return ''.join(L)

In [188]:
find_consonants('mississippi is the place for me')

'mssssppsthplcfrm'

## Exercise 7

 Write a line of code that operates on `XX` and produces the given output:
   
     In [ ]: XX = 'bad good sad happy'
           YOUR CODE HERE
     Out [ ]: [True, False, True, False]
  
 Hint:  Try a list comprehension that collects
  a list of the results of a Boolean test.  But remember that the elements of a string
  are characters.  You can turn `XX` into a list of length 4 with a simple operation
  discussed in the python_types_nb.

In [233]:
XX = 'bad good sad happy'
# Your code here
XX = XX.split()
Y = ['bad', 'sad']
##Z = [i for i in XX
     ##if any(p in i for p in Y)]
Z = [x in Y for x in XX]
print(Z)

[True, False, True, False]

## Exercise 8

You're having a big party.

The guests will be boys and girls.   The lists are defined for you in the next cell.
There should be 24 pairings since the pairing ('Huey', 'Susan') should count
as the same dance partnership as ('Susan','Huey').

You want to make sure there are enough dance partners and that they are all compatible.  Write a single list comprehension that will compute every possible pairing of a boy with a girl.  

Hint:
The list built by the list comprehension will be a list of tuples of length 2.

In [246]:
boys = 'Huey Fred Jason Ed Albert Louie'.split()
girls = 'Susan Paula Barbara Felicia'.split()
[(x,y) for x in boys for y in girls]

[('Huey', 'Susan'),
 ('Huey', 'Paula'),
 ('Huey', 'Barbara'),
 ('Huey', 'Felicia'),
 ('Fred', 'Susan'),
 ('Fred', 'Paula'),
 ('Fred', 'Barbara'),
 ('Fred', 'Felicia'),
 ('Jason', 'Susan'),
 ('Jason', 'Paula'),
 ('Jason', 'Barbara'),
 ('Jason', 'Felicia'),
 ('Ed', 'Susan'),
 ('Ed', 'Paula'),
 ('Ed', 'Barbara'),
 ('Ed', 'Felicia'),
 ('Albert', 'Susan'),
 ('Albert', 'Paula'),
 ('Albert', 'Barbara'),
 ('Albert', 'Felicia'),
 ('Louie', 'Susan'),
 ('Louie', 'Paula'),
 ('Louie', 'Barbara'),
 ('Louie', 'Felicia')]

## Exercise 9

You suddenly remember that boys don't always dance with girls and girls don't always dance with boys.
And there are people who are neither who are also guests at the party.  You compile a list of neithers.  

Using the `boys` and `girls` lists from the last problem and the `neither` list below,
write another list comprehension that finds **all** the possible dance partners, that is
every pair of guests at the party, regardless of whether they are boys or girls or neither.
But remember: people can't dance with themselves (at least not for the dances that will be
played at this party).

If your final list has 169 members, people are dancing with themselves.

If your final list has 156 members, it's because you have both ('Huey', 'Fred') and ('Fred', 'Huey') as possible dance partners. This is a bug.  They are just one happy couple.
One way to fix this is do a set comprehension but then the final set you collect can't
just be a set of two-member tuples or you'll still have 156 of them.

Super geeky glitch note.  If you're going to use sets, be aware that Python sets can't have sets as members,
so you can't just produce a set of two-member sets (What?  Why!  That's kind of a long story.)  What you want is `frozenset`: so `frozenset(['a', 'b'])` will produce a frozenset of size 2, and sets can have frozensets
as members.

Another way to fix this is with `enumerate` as shown in the function-nb notebook.

The correct answer has 78 dance couples.

In [277]:
neither = 'Lee Sam Kim'.split()
# Your code here
boys = 'Huey Fred Jason Ed Albert Louie'.split()
girls = 'Susan Paula Barbara Felicia'.split()
pool = boys + girls + neither
def comb2(s):
    for i, v1 in enumerate(s):
        for j in range(i+1, len(s)):
            yield [v1, s[j]]

print(*(comb2(list(pool))))

['Huey', 'Fred'] ['Huey', 'Jason'] ['Huey', 'Ed'] ['Huey', 'Albert'] ['Huey', 'Louie'] ['Huey', 'Susan'] ['Huey', 'Paula'] ['Huey', 'Barbara'] ['Huey', 'Felicia'] ['Huey', 'Lee'] ['Huey', 'Sam'] ['Huey', 'Kim'] ['Fred', 'Jason'] ['Fred', 'Ed'] ['Fred', 'Albert'] ['Fred', 'Louie'] ['Fred', 'Susan'] ['Fred', 'Paula'] ['Fred', 'Barbara'] ['Fred', 'Felicia'] ['Fred', 'Lee'] ['Fred', 'Sam'] ['Fred', 'Kim'] ['Jason', 'Ed'] ['Jason', 'Albert'] ['Jason', 'Louie'] ['Jason', 'Susan'] ['Jason', 'Paula'] ['Jason', 'Barbara'] ['Jason', 'Felicia'] ['Jason', 'Lee'] ['Jason', 'Sam'] ['Jason', 'Kim'] ['Ed', 'Albert'] ['Ed', 'Louie'] ['Ed', 'Susan'] ['Ed', 'Paula'] ['Ed', 'Barbara'] ['Ed', 'Felicia'] ['Ed', 'Lee'] ['Ed', 'Sam'] ['Ed', 'Kim'] ['Albert', 'Louie'] ['Albert', 'Susan'] ['Albert', 'Paula'] ['Albert', 'Barbara'] ['Albert', 'Felicia'] ['Albert', 'Lee'] ['Albert', 'Sam'] ['Albert', 'Kim'] ['Louie', 'Susan'] ['Louie', 'Paula'] ['Louie', 'Barbara'] ['Louie', 'Felicia'] ['Louie', 'Lee'] ['Louie', 'Sam'] ['Louie', 'Kim'] ['Susan', 'Paula'] ['Susan', 'Barbara'] ['Susan', 'Felicia'] ['Susan', 'Lee'] ['Susan', 'Sam'] ['Susan', 'Kim'] ['Paula', 'Barbara'] ['Paula', 'Felicia'] ['Paula', 'Lee'] ['Paula', 'Sam'] ['Paula', 'Kim'] ['Barbara', 'Felicia'] ['Barbara', 'Lee'] ['Barbara', 'Sam'] ['Barbara', 'Kim'] ['Felicia', 'Lee'] ['Felicia', 'Sam'] ['Felicia', 'Kim'] ['Lee', 'Sam'] ['Lee', 'Kim'] ['Sam', 'Kim']

There is another simpler way to solve the problem we just solved, which is not quite as
useful as a programming exercise, which is to use the `itertools` module.    Please don't
do this.  It's not nearly as educational.

It will be helpful to review our discussion of Counters in the book draft section on dictionaries.
It will also be helpful to read the [Python docs](http://docs.python.org/2/library/collections.html)  to find a convenient method that finds the element in a counter with the highest count.

In [247]:
 def remainder_one (dividend, divisor=3):
    return

## Exercise 10

Write a function that converts temperatures (as
numbers) from Fahrenheit to Celsius scale. The temperature should be
optional and its default value should be 32.  Here are some examples showing
how you **call** the `fahrenheit-to_celsius` function and what it returns:

```
    In [ ]:  fahrenheit_to_celsius(212)
    Out [ ]: 100
    In [ ]: fahrenheit_to_celsius(-40)
    Out [ ]: -40.0
    In [ ]:  fahrenheit_to_celsius(32)
    Out [ ]: 0
    In [ ]:  fahrenheit_to_celsius()
    Out [ ]: 0    
```

Please include a cell printing out your validation tests to show you have checked your work (which of course you **always** do).   
To create new cells to demonstrate all the examples, you hold down the `[Control]` key while pressing `M` and then typing `b` (for "below").

In [345]:
def fahrenheit_to_celsius(f=32):
    #return [your answer goes here]
      celsius = float(f - 32) * (5/9)
      return celsius

In [338]:
fahrenheit_to_celsius(212)

100.0

In [339]:
fahrenheit_to_celsius(-40)

-40.0

In [340]:
fahrenheit_to_celsius(32)

0.0

In [341]:
fahrenheit_to_celsius()

0.0

## Exercise 11

Write a function that can compute the difference between two temperatures.  Assume the
input temperatures are Fahrenheit and the output temperatures are Celsius. You should take the differences in Celsus, as shown in the examples below.   Your
definition should **call** the `fahrenheit_to_celsius`  function you defined in the previous problem, so **don't** just copy and paste the code from thefunction body.  Assume the first argument is obligatory and then the second argument is optional.  When the second argument is omitted, just return the result of converting the first argument to Celsius.
Show that you have checked your work, using all of the following examples.

Here is how the function should work:

```
    In [ ]:  fahrenheit_to_celsius_diff(212,32)
    Out [ ]: 100
    In [ ]: fahrenheit_to_celsius_diff(-40, 212)
    Out [ ]: -140.0
    In [ ]:  fahrenheit_to_celsius_diff(212)
    Out [ ]: 100
    In [ ]:  fahrenheit_to_celsius_diff(212, 0)
    Out [ ]: 117.78

```

In [342]:

def fahrenheit_to_celsius_diff(f1=32, f2=32):
    # Put the entire function definition here.
  celsiusdiff = fahrenheit_to_celsius(f1) - fahrenheit_to_celsius(f2)
  return celsiusdiff

In [343]:
fahrenheit_to_celsius_diff(212,32)

100.0

In [344]:
fahrenheit_to_celsius_diff(-40, 212)

-140.0

In [346]:
fahrenheit_to_celsius_diff(212)

100.0

In [347]:
fahrenheit_to_celsius_diff(212, 0)

117.77777777777777